.father {
    /* 30*10=300px */
    width: 30rem;
    height: 30rem;
    background-color: red;
}

.son {
    width: 10rem;
    height: 10rem;
    background-color: black;
}


/* 屏幕宽度小于500px 1个rem等于10px */
@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }
}

/* 屏幕宽度小于800px 1个rem等于20px */
@media screen and (max-width: 800px) {
    html {
        font-size: 20px;
    }
}

/* 屏幕宽度小于1800px 1个rem等于30px */
@media screen and (max-width: 1800px) {
    html {
        font-size: 30px;
    }
}